body {
    font-family: "Work Sans";
}

/* nav title tag add to css  */
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-title {
    color: #131313;
    font-size: 45px;
    font-weight: 700;
}

nav>ul {
    display: flex;
}

nav li {
    list-style: none;
    margin-right: 30px;
    font-size: 18px;
    font-weight: 500;
}

nav li a {
    text-decoration: none;
    color: #424242;
}

/* header title tag to css  */
header {
    background: rgba(255, 144, 14, 0.10);
    padding: 50px 240px;
}

.banner-contant {
    max-width: 800px;
    text-align: center;
    margin: 0 auto;
}

.banner-title {
    color: #131313;
    font-size: 64px;
    font-weight: 700;
}

.banner-paragripe {
    color: #727272;
    font-size: 16px;
    font-weight: 400;
}

.but-primare {
    border-radius: 8px;
    color: #fff;
    background: #FF900E;
    padding: 20px 25px;
    font-size: 20px;
    font-weight: 600;
    cursor: pointer;
    border: 0;
}

.banner img {
    margin-top: 20px;
    width: 100%;
}

/* mani section title tag to css  */
main {
    max-width: 1440px;
    margin: 70px auto;
}

/* section title tag to css  */
.teams-contanter {
    display: flex;
    align-items: center;
}

.teams-img {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 24px;
}

.teams-contant {
    padding: 0 70px;
}

.teams-title {
    font-size: 45px;
}


.quick {
    color: #727272;
    font-weight: 500;
}

.our {
    color: #131313;
    font-weight: 700;
}

.Features {
    color: #FF900E;
    font-weight: 700;
}

.teams-text {
    color: #727272;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
}

/* img banner title tag  */
.fucher {
    display: flex;
    margin-top: 130px;
    gap: 100px;

}

.section-title {
    color: #131313;
    font-size: 45px;
    font-weight: 700;
    border-left: 5px solid #FF900E;
    padding-left: 20px;
}


.section-title-tag {

    color: #727272;
    font-size: 16px;
    font-weight: 400;

}

.card {
    padding: 30px;
    margin-bottom: 20px;
    border-radius: 8px;
    background: #FFF;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.06);
}

.card h4 {
    color: #131313;
    font-size: 20px;
    font-weight: 600;
}

.caed p {
    color: #727272;
    font-size: 16px;
    font-weight: 400;
}
.fucher-img img{
    height: 90%;
    margin-left: 60px;
}

.ten-year {
    border-radius: 8px;
    background: #FF900E;
    color: #FFF;
    width: 342px;
    padding: 40px;
    text-align: center;
    position: relative;
    bottom: 100px;
}

.ten-year h2 {
    color: #FFF;
    font-size: 65px;
    margin: 0;
}

.tan-year p{
    font-size: 24px;
}

/* banner title tag  */
.facts {
    color: #131313;
    font-size: 45px;
    font-weight: 700;
}

.there {
    color: #727272;
    font-size: 16px;
    font-weight: 400;
}

.facts-cart-contaner {
    display: flex;
    justify-content: space-around;
    padding: 50px;
}

.cart {
    border-radius: 8px;
    border: 1px solid #FF900E;
    text-align: center;
    padding: 30px;
}

.cart-stats {
    color: #424242;
    font-size: 45px;
    font-weight: 600;
    margin-top: 10px;
    margin-bottom: 10px;
}

.cart-title {
    color: #727272;
    font-size: 20px;
    font-weight: 600;
    margin-top: 5px;
}

/* spontan section title tag  */
.our {

    text-align: center;
    color: #131313;
    font-size: 45px;
    font-weight: 700;
}

.many {
    color: #727272;
    text-align: center;
    font-size: 16px;
    font-weight: 400;
}

.Sponspors-title {
    margin-top: 50px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 50px;
}

.Sponspors-title img {
    width: 165px;
}

/* footer title tag  */
footer {
    width: 1440px;
    margin: 0 auto;
}

.footer {
    border-radius: 8px;
    background: #FFF4E7;
    padding: 30px 410px;
}

.rights {
    color: #424242;
    text-align: center;
    font-size: 20px;
    font-weight: 400;
}


/* Responsive media queries  */

/* mobile devices  */
@media screen and (max-width:576px) {
    header {
        padding: 20px;
    }

    nav,
    .teams-contanter,
    .facts-cart-contaner,
    .Sponspors-title, 
    .fucher-contant {
        flex-direction: column;
    }

    .teams-img {
        grid-template-columns: 1fr;
    }

    .teams-contant {
        padding: 0 20px;
    }

    footer {
        width: 440px;
    }

    .footer {
        padding: 10px 20px;
    }
    .fucher-img img{
        width: 100%;
    }


}

/* tablet or medium devices  */
@media screen and (min-width:576px) and (max-width:960px) {
    header {
        padding: 50px;
    }

    .facts-cart-contaner {
        margin-left: 20px;
        margin-right: 20px;
        margin-top: 50px;

    }

    nav,
    .teams-contanter {
        flex-direction: column;
    }

}